<script src="/assets/arbor.js"></script>
<script src="/assets/jquery-ui-1.8.18.custom.min.js"></script>
<script>
     $(document).ready(function(){
        var func = function(arg){
          alert("hi");
        }
        var currentNode=0
        $('#viewport').width = $('#back').clientWidth;
        
        var dat = {"page":"Wikipedia"}
        $.ajax({
          url: "wiki/fetch",
          dataType: 'text',
          data:dat,
          success: function(data){
            var text= $('<div/\>').html(data).text();
            startGraph(text.replace("\\","\\\\","g"),"#nodes");
          }
        });
        $("#search-wikipedia").dialog({
          autoOpen: false,
	  height: 400,
	  width: 600,
	  modal: true,
	  buttons: {
	    "Do Search!": function() {
              var searchData = {"page":$("#query").val().replace(new RegExp(" ","g"),"+")}
              $("#search-results").empty();
              $.ajax({
                url: "wiki/doSearch",
                dataType: 'xml',
                data:searchData,
                success: function(data){
                  xmlDoc = data
                  var result=xmlDoc.getElementsByTagName("Item");
                  if(result.length==0){
                    $("#search-results").append("No results"); return;
                  }
                  var locali
                  for (i=0; i < result.length; i++){
                    var localResult = "<button id="+i+"button class='resultbutton'>"+result[i].getElementsByTagName("Text")[0].childNodes[0].nodeValue + "</button><br>";
                    localResult +=result[i].getElementsByTagName("Description")[0].childNodes[0].nodeValue+"<br>";
                  $("#search-results").append(localResult);
                    locali = i
                  $("#"+locali+"button").button().click(function(){
                    var url = result[this.id.substr(0,1)].getElementsByTagName("Url")[0].childNodes[0].nodeValue;
                    url = url.substr(url.indexOf("wiki/")+5)
                    initGraphFromUrl(url)
                    $( "#search-wikipedia" ).dialog( "close" );
                    emptyPath();
                    });

                  }
                }
              });
					
	     },
	     Cancel: function() {
	      $( this ).dialog( "close" );
	      }
           },
			close: function() {
				$('#query').val( "" );
                                $("#search-results").empty();
			}
        });
        $("#do-search").button().click(function(){
          $("#search-wikipedia").dialog("open");
        });
        $("#open-new-tab").button().click(function(){
          window.open('http://en.wikipedia.org/wiki/'+globalurl);
          self.focus();
        });
        $("#open-path").button().click(function(){
          nodechilds = $("#nodes").children()
          var i
          for(i = 0; i < nodechilds.length; i++){
      
          window.open('http://en.wikipedia.org/wiki/'+$("#"+nodechilds[i].id).data("url"));
          self.focus();
          }
        });
        function emptyPath(){
          $('#nodes').empty();
        }
        });
</script>
<style type="text/css">
#back
{
height: 600px;
padding: 0.5em;
background-color:white;
overflow: hidden;
}
li
{
list-style-type:none;
text-align:center
}
div.inline
{
display: inline-block;
vertical-align: top;
background-color:white;
height:600px;
width: 250px;
overflow-y: scroll;
border-style:groove;
border-width:2px;
border-color:gray;
}
.search-wikipedia
{
background:white;
}
.resultbutton
{
min-width:300px
}
.scroll-pane
{
	width: 100%;
	height: 200px;
	overflow: auto;
}
.ui-button-text {
  font-size: inherit;
}

label, input { display:block; }
		input.text { margin-bottom:12px; width:95%; padding: .4em; }
		fieldset { padding:0; border:0; margin-top:25px; }
		div#users-contain { width: 350px; margin: 20px 0; }
		div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
		div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
		.ui-dialog .ui-state-error { padding: .3em; }
		.validateTips { border: 1px solid transparent; padding: 0.3em; }
</style>

<button id="do-search">Start new wikipath!</button>
<br/>
<div id="back">
<div>
  <canvas id="viewport" width="800px" height="600"></canvas>
  <div class="inline" id ="nodes">My Nodes<p/><li class="node">hi</li></div>
</div>
</div>
  <button id="open-new-tab">Open in Wikipedia</button>
  <button id="open-path">Open path in Wikipedia</button>
<div id="search-wikipedia" title="Start a new Wikipath!">
	<form>
	<fieldset>
		<label for="query">Search Topic</label>
		<input type="text" name="query" id="query" class="text ui-widget-content ui-corner-all" />
	</fieldset>
	</form>
        <div id="search-results">
        </div>
</div>
 </body> 
</html>
