<script src="/assets/arbor.js"></script>
<script>
     $(document).ready(function(){
        var func = function(arg){
          alert("hi");
        }
        var currentNode=0
        $('#viewport').width = $('#back').clientWidth;
        
        var dat = {"page":"Dana_Hills_High_School"}
        $.ajax({
          url: "wiki/fetch",
          dataType: 'text',
          data:dat,
          success: function(data){
            var text= $('<div/>').html(data).text();
            startGraph(text.replace("\\","\\\\","g"),"#nodes");
          }
        });
        });
</script>
<style type="text/css">
#back
{
height: 600px;
padding: 0.5em;
background-color:red;
overflow: hidden;
}
li
{
list-style-type:none;
text-align:center
}
div.inline
{
display: inline-block;
vertical-align: top;
background-color:green;
height:90%;
width: 250px;
overflow-y: scroll;
border-style:groove;
border-width:2px;
border-color:gray;
}
.scroll-pane
{
	width: 100%;
	height: 200px;
	overflow: auto;
}
</style>
<div id="back">
  <canvas id="viewport" width="1000" height="600"></canvas>
  <div class="inline" id ="nodes">My Nodes<p/><li class="node">hi</li></div>
</div>

 </body> 
</html>
