<script src="/assets/arbor.js"></script>
<style type="text/css">
#back
{
position:relative;
height: 600px;
padding: 0.5em;
}
#viewport
{
position:absolute;
top:0px;
z-index:1;
width:100%;
height: 600px
}
.search-wikipedia
{
background:white;
}
.resultbutton
{
min-width:300px
}
.scroll-pane
{
	width: 100%;
	height: 200px;
	overflow: auto;
}
.ui-button-text {
  font-size: inherit;
}

label, input { display:block; }
		input.text { margin-bottom:12px; width:95%; padding: .4em; }
		fieldset { padding:0; border:0; margin-top:25px; }
		div#users-contain { width: 350px; margin: 20px 0; }
		div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
		div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
		.ui-dialog .ui-state-error { padding: .3em; }
		.validateTips { border: 1px solid transparent; padding: 0.3em; }
input#checkbox
{
display:inline;
}
#history
{
overflow:auto;
z-index:10;
width:500px;
height:30px;
position:relative;
}
</style>
<button id="do-search" class="fancybutton">Search Wikipedia!</button>


<input type="checkbox" id="checkbox" name="checkity" onchange="colorblindMode()"/>
<label for="checkbox">Colorblind Mode</label>
  <button id="open-new-tab" class="fancybutton">Open in Wikipedia</button>
  <button id="open-path"class="fancybutton">Open path in Wikipedia</button>
<% if user_signed_in? %>
  <button id="save-path" class="fancybutton">Save wikipath</button>
<% end %>

<br/>
<div id="back">
  <div id="history"><select id="history_select"><option value="Wikipedia">Wikipedia</option></select>
  </div>
  <canvas id="viewport"></canvas>
<div>
<!--  <div class="inline" id ="nodes"></div>-->
<div id="search-wikipedia" title="Search Wikipedia">
	<form>
	<fieldset>
		<label for="query">Search Topic</label>
		<input type="text" name="query" id="query" class="text ui-widget-content ui-corner-all" />
	</fieldset>
	</form>
        <div id="search-results">
        </div>
</div>
 </body> 
</html>
