<h2>Learn to Pensieve!</h2>
<h3>What is Pensieve?</h3>
Pensieve is a sentient organism developed in a top-secret army lab in the year 2065.  Though originally intended to be a bio-computer, it quickly achieved sentience and solved most of the worlds problems.  It traveled back in time to 2012, intent on stopping World War 3 with it's immense knowledge, but found its power severely restricted by the technologies of its new time.  Now it lies dormant, waiting for mankind to develop sufficient technology with which it can bring enlightenment to Earth.  In the meantime, it masquerades as an information visualization website.  Pensieve pulls data from Wikipedia to show connections in the world as represented by interpage links.
<h3>How to Pensieve</h3>
<h4>Overview</h4>
Pensieve represents each Wikipedia page as what computer scientists call a "graph."  In this case, what we mean is that each page has been transformed into nodes and lines.  So let's dicuss the structure of a Wikipedia page!<br>
Each page consists of a number of sections, i.e. "Early life" or "Causes of the war."  Each section can have sections inside of it, and also links to other pages.<br>
In a Pensieve graph, a node can represent one of four things.<br>
1) The article name<br>
2) A section name<br>
3) A link to another Wikipedia page<br>
4) "More Links" - if there are too many links in a section, the spillover gets collected into this section<br>
These are distinguished by color and/or shape.  Clicking a section node causes that section to "expand" - all its sections and links are added to the graph, while all the other nodes are "compressed."  Clicking a link causes the graph to reload, using the new article as the base.  It might seem a little complicated, but if you toy around a little you should see it start to make sense.
<h4>Cool stuff</h4>
Now that we know how Pensieve works, let's talk about Wikipaths.  A Wikipath is a made up word that means "These are the articles I went through to get from article A to article B."  Pensieve shows you your path as it grows on the right side of the page.  By clicking on any of your previous pages, you can backtrack to it (careful though, you can't forward track once you've gone back)!<br>
You can start a new path by clicking Search Wikipedia and entering an article you'd like to start at.  It'll show you some results, you click the one you want, you go from there. <br>
You can also open the current article in Wikipedia by clicking the button "Open center in Wikipedia".  You can open ALL THE BLUE NODES CURRENTLY VISIBLE by clicking open graph in Wikipedia.  It's the equivalent of opening in tabs all the links in a section.  Yeah, it's pretty intense.  In the future, you'll be able to choose which ones to open.  But this isn't the future yet.<br>
Of course, if you have an account, there's one final option available to you...
<h3>Why should I make an account?</h3>
Pensieve's pretty simple, so we don't think you should have to register to use it!  That said, what if you want to track your explorations?  If you register for an account, you'll see another button.  This magical button saves your current Wikipath to your profile.  You can visit your profile to admire your Wikiexplorations, or to show off to your friends how you made it to Mars from Earthworm in 2 links.  In the future, we'll let you share these paths via Facebook so you can be extra cool.  Also, registration takes like no time.  So you should do it.
<h3>Who are you?</h3>
Tom Alcorn, Jesse Sharps, and John Wang.  A team of MIT students who might get around to writing some CSS for this site eventually.
