<script src="/assets/arbor.js"></script>
<style type="text/css">
#back
{
height: 600px;
padding: 0.5em;
background-color:white;
overflow: hidden;
}
li
{
list-style-type:none;
text-align:center
}
div.inline
{
display: inline-block;
vertical-align: top;
background-color:white;
height:600px;
width: 250px;
overflow-y: scroll;
border-style:groove;
border-width:2px;
border-color:gray;
}
.search-wikipedia
{
background:white;
}
.resultbutton
{
min-width:300px
}
.scroll-pane
{
	width: 100%;
	height: 200px;
	overflow: auto;
}
.ui-button-text {
  font-size: inherit;
}

label, input { display:block; }
		input.text { margin-bottom:12px; width:95%; padding: .4em; }
		fieldset { padding:0; border:0; margin-top:25px; }
		div#users-contain { width: 350px; margin: 20px 0; }
		div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
		div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
		.ui-dialog .ui-state-error { padding: .3em; }
		.validateTips { border: 1px solid transparent; padding: 0.3em; }
input#checkbox
{
display:inline;
}
</style>
<h2><%=link_to "What is Pensieve?", home_tutorial_path %></h2>
<button id="do-search" class="fancybutton">Start new wikipath!</button>


<input type="checkbox" id="checkbox" name="checkity" onchange="colorblindMode()"/>
<label for="checkbox">Colorblind Mode</label>

<br/>
<div id="back">
<div>
  <canvas id="viewport" width="800px" height="600"></canvas>
  <div class="inline" id ="nodes"></div>
</div>
</div>
  <button id="open-new-tab" class="fancybutton">Open in Wikipedia</button>
  <button id="open-path"class="fancybutton">Open path in Wikipedia</button>
<% if user_signed_in? %>
  <button id="save-path" class="fancybutton">Save wikipath</button>
<% end %>
<div id="search-wikipedia" title="Start a new Wikipath!">
	<form>
	<fieldset>
		<label for="query">Search Topic</label>
		<input type="text" name="query" id="query" class="text ui-widget-content ui-corner-all" />
	</fieldset>
	</form>
        <div id="search-results">
        </div>
</div>
 </body> 
</html>
